@import 'fonts';

$white: #f9f9f9;
$black: #303030;
$gray: #b2b2b2;
$brown: #cfb995;
$blue: #57dbe6;

* {
    font-family: 'Montserrat', sans-serif;
    transition: .2s;
}

button {
    padding: 15px 12px;
    border: none;
    cursor: pointer;

    &.sm-btn {
        padding: 11px 8px;
    }

    &.lg-btn {
        padding: 20px 15px;
    }
}

.bg {
    &-transparent {
        background-color: transparent;
    }
}

.flex {
    display: flex;

    @for $i from 0 through 10 {
        &-gap-#{$i} {
            gap: #{$i}rem
        }
    }

    &-col {
        @extend .flex;
        flex-direction: column;
    }
}

.fullWidth{
    width: 100%;
}

.popup-menu{
    display: none;
    position: absolute;
    padding: 1rem;
    background-color: $white;
    bottom: 0;
    transform: translateY(calc(100% + 20px));
    border-radius: 5px;
    z-index: 399;

    &.open{
        display: block;
    }

    &-item{
        color: $black;
        text-align: left;
        min-width: 200px;
        border-bottom: 1px solid $gray;
        padding: 10px;
        &:hover{
            border-radius: 5px;
            background-color: $black;
            color: $white;
        }
    }

    &::after{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 50%;
        border-bottom: 8px solid $white;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid transparent;
        transform: translate(50%, -100%);
    }
}

.text-input{
    @extend .flex, .flex-gap-1;
    background-color: white;
    border-radius: 5px;
    padding: 12px;
    
    input{
        flex: 100%;
        background-color: transparent;
        outline: none;
        border: none;
    }

    .suffix-icon{
        width: 20px;
        object-fit: contain;
    }
}